.btn-tripmate {
  background: linear-gradient(to right, #20e37a, #20cae3);
  border-style: none;
  border-radius: 30px;
  color: #FEFEFE;
  width: 96px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-tripmate-black{
  border-radius: 6px;
  background-color: #1c1917;
  color: #FEFEFE;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.btn-tripmate-black-share{
  border-radius: 5px;
  // width: 50px;
  // height: 50px;
  background-color: #1c1917;
  border-color: linear-gradient(to right, #20e37a, #20cae3);
  border-width: 4px;
  color: #FEFEFE;
  //width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  text-decoration: none;
}

.btn-tripmate-black-share:active {
	transform: scale(0.93);
	transition: .1s;
}

// .btn-tripmate-black-share-neg {
//   border-radius: 5px;
//   border-color: #1c1917;
//   border-width: 4px;
//   // width: 50px;
//   // height: 50px;
//   background-color: transparent;
//   color: #FEFEFE;
//   //width: 100%;
//   padding-left: 12px;
//   padding-right: 12px;
//   padding-top: 6px;
//   padding-bottom: 6px;
//   margin: 0;
//   text-decoration: none;
// }

.btn-login {
  background-color: none;
  color: #1c1917;
  border-style: solid;
  border-color: #1c1917;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  transition: all .1s ease-in-out;
  font-weight: bold;
  z-index: 1000;
}

.btn-login:active {
	transform: scale(0.93);
	transition: .1s;
}


.btn-register {
  background-color: #1c1917;
  color: #FEFEFE;
  border-style: solid;
  border-color: #1c1917;
  border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  transition: all .1s ease-in-out;
  font-weight: 550;
  z-index: 1000;
}

.btn-register:active {
  transform: scale(0.93);
  transition: .1s;
}

.btn-tripmate-black-collapse{
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: #1c1917;
  color: #FEFEFE;
  //width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 5px;
  text-decoration: none;
}

.btn-tripmate-black-collapse:active{
	transform: scale(0.93);
	transition: .1s;
}

.c2a-button-map {
  background: linear-gradient(to right, #20e37a, #20cae3);
  color: #FEFEFE;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 110px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: #FEFEFE;
  border-width: 2px;
  padding: 20px;
  z-index: 2000;
}

.c2a-button-map:active {
	transform: scale(0.93);
	transition: .1s;
}

.c2a-button-add-act {
  background: linear-gradient(to right, #ff4400, #E45521);
  color: #FEFEFE;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 178px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: #FEFEFE;
  border-width: 2px;
  padding: 20px;
  z-index: 2000;
}

.c2a-button-add-act i {
  margin-top: 2px;
  //margin-left: 2px;
}

.c2a-button-add-act:active {
	transform: scale(0.93);
	transition: .1s;
}
