// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$tripmate-blue: #20CAE3;
$tripmate-green: #20E37A;
$tripmate-core-brand: #E45521;
$tripmate-black: #1C1917;
$tripmate-honeydew: #DDE8DC;
