.btn-tripmate {
  background: linear-gradient(to right, #20e37a, #20cae3);
  border-style: none;
  border-radius: 30px;
  color: #FEFEFE;
  width: 96px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-tripmate-black{
  border-radius: 6px;
  background-color: #1c1917;
  color: #FEFEFE;
  width: 100%;

}
