.act-index {
  position: absolute;
  border-radius: 10px;
  background: #FEFEFE;
  z-index: 1000;
  width: 94.8%;
  text-align: center;
  top: 25%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, 0) translateY(-70%);
}

.act-index h1 {
  text-align: left;
}

.banner {
  height: 250px;
  width: 100%;
}

.act-list-cards {
  height: 201px;
}

.card-body {
  height: 201px
}

.time {
  background-color: #1c1917;
  color: #FEFEFE;
}

.act-card-body {
  background-color: #EFEFEF;
  text-decoration: none;
  margin-top: -10px;
}

.act-list-cards {
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  border-bottom: 1px solid #EFEFEF;
  border-style: none;
  padding: 10px;
 // margin-bottom: 10px;
  background-color: #FEFEFE;
  // border-radius: 20px;
}

.act-date-list {
  background-color: #FEFEFE;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  border-radius: 10px;
}

.act-date-list a {
  text-decoration: none;
}

.title-card-bottom-info-bar {
 // background-color: #1c1917;
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  padding: 10px;
}

.act-expand-control-container {
  padding-top: 20px;
}

.act-card-time-bar {
  background-color: #1c1917;
  //background-color: transparent;
  border-style: solid;
  border-color: #1c1917;
  border-width: 2px;
  color: #FEFEFE;
  //color: #1c1917;
  border-radius: 50px;
  margin-bottom: 20px;
}
