// Specific CSS for your home-page
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  //max-height:100%;
  translate: translateZ(-50rem);
  transform:scale(4);
  z-index: -2;
  background: rgba(0, 0, 0, 0.44);
}

video {
  filter: opacity(100%);
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: rgb(0, 0, 0);
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dde8dc;
  z-index: -1;
  opacity: 50%;
}
body {
  overflow: hidden;
}

.logo-cont {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(-2rem);
}

#landing-logo {
  width: 90%;
}
