.itin-index-imgs {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.trip-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.trip-item:last-child {
  border-bottom: none;
}
.trip-item img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}
.trip-details {
  flex: 1;
}
.trip-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.trip-description {
  color: #666;
}

.itin-index-card-container {
  border-radius: 10px;
  border-style: none;
  padding-bottom: 100%;
  background-color: transparent;
}

.itin-index-card {
  border-radius: 10px;
  border-style: none;
  background-color: #FEFEFE;
}

.itin-index-card-text a {
  border-radius: 10px;
  color: black;
}

.itinerary-map {
  z-index: -2;
}

.itin-body-container {
  height: 100%;
  z-index: 1000;
}

// .memory-show-card {
//   margin-top: 50%;
//   width: 100%;
//   height: 100%;
// }

// .memory {
//   position: fixed;
//   margin-top: 50%;
//   margin-left: 50%;
//   display: none;
// }
