<div class="container h-100 col-12 d-flex align-items-center justify-content-center">
  <div class= "container-xxl mt-5 d-flex align-items-center justify-content-center">
      <%= link_to "LOG IN", "/users/sign_in", class: "btn btn-outline-dark rounded-3 col-6 me-1" %>
      <%= link_to "REGISTER", "/users/sign_up", class: "btn btn-dark w-4 rounded-3 col-6 ms-1" %>
  </div>
</div>

<%# <button class="btn-tripmate">+</button> %>
