

.c-img{
 height: 220px;
}

.mem-reel-title{
 margin-left: 45px;
}

.mem-reel-title-2{
  margin-left: 45px;
  margin-top: 7px;
 }

.memory-container-2{
  margin-bottom: 200px;
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .memory-container {
//   display: none;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
// }

// .memory-container.fade-in {
//   display: block;
//   animation-name: fadeIn;
// }

// .memory-container.fade-out {
//   animation-name: fadeOut;
// }
