.c-img{
 height: 220px;
}


.memory-container-2{
  margin-bottom: 90px;
}

.memory{
  height: -webkit-fill-available;
  overflow: scroll;
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .memory-container {
//   display: none;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
// }

// .memory-container.fade-in {
//   display: block;
//   animation-name: fadeIn;
// }

// .memory-container.fade-out {
//   animation-name: fadeOut;
// }
