.print-icon{
padding-bottom: 10px;
margin-left: 17px;
}

.print-icon-2{
 margin-top:25px;
 margin-bottom: 100px;
 padding-bottom: 100px;
 margin-left: 17px;
 }

// .print-icon-2 {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   z-index: 9999;
// }
