.btn-tripmate-black-share-2{
  height: 36px;
  width: 34px;
  border-radius: 5px;
  margin-left: 10px;
}

.inline-buttons {
  display: flex;
  align-items: center;
}

.btn-tripmate-black-share-2 {
  background-color: #1c1917;
  padding: 4px;
}
